<body>
  <div class="container-1">
    <h1>Smart Money</h1>
  </div>

  <div class="container">
    <h3 i18n="@@accont-type">Wählen sie den Konto Typ</h3>
    <div id="outer" class="container-2">
      <button test-dataid="giro_account_button" type="button" (click)="setAccountGiro()" class="btn btn-primary"
        i18n="@@account-giro">
        Giro-Konto
      </button>

      <button test-dataid="fixed_rate_button" type="button" (click)="setAccountFixedRate()" class="btn btn-primary"
        i18n="@@account-fixed">
        Festgeld-Konto
      </button>

      <button test-dataid="onCall_button" type="button" (click)="setAccountOnCall()" class="btn btn-primary"
        i18n="@@account-call">
        Tagesgeld-Konto
      </button>

      <button test-dataid="realEstate_button" type="button" (click)="openDialogCreateRealEstateAccount()"
        class="btn btn-primary" i18n="@@account-real-estate">
        Immobilien-Finanzierungskonto
      </button>
    </div>
    <br />
    <div>
      <button test-dataid="return_button" (click)="goToMainPage()" class="btn btn-primary" style="width:250px"
        i18n="@@back">
        Zurück
      </button>
    </div>
  </div>
  <br>
  <div class="footer">
    <label style="flex: 1">
      © Smart Money GmbH 2023
    </label>
    <lang-switch />
    <div>
      <img src="assets/SimplyTest.png" alt="" style="flex: 1" height="50px" />
    </div>
  </div>
</body>
