<body>
  <div class="container-1" id="smartMoneyTitle">
    <h1>Smart Money</h1>
  </div>

  <div class="container">
    <form #form="ngForm" (ngSubmit)="onSubmit(form.value)" style="display: flex; flex-direction: column; gap: 15px">
      <div class="form-group">
        <label data-testid="contract_label" i18n="@@contract-id">Vertrags-ID</label>
        <input id="contract_input" data-testid="contract_input" type="text" #contractIDRef="ngModel"
          class="form-control" name="contractID" ngModel required>
        <div *ngIf="contractIDRef.errors && (contractIDRef.dirty || contractIDRef.touched)" class="alert alert-danger">
          <div data-testid="contract_error_label" [hidden]="!contractIDRef.errors.required" i18n="@@required-field">
            Pflichtfeld
          </div>
        </div>
      </div>

      <div class="form-group">
        <label data-testid="password_label" i18n="@@password">Passwort</label>
        <input id="password_input" data-testid="password_input" type="password" #passwordRef="ngModel"
          class="form-control" name="password" ngModel required>
        <div *ngIf="passwordRef.errors && (passwordRef.dirty || passwordRef.touched)" class="alert alert-danger">
          <div data-testid="password_error_label" [hidden]="!passwordRef.errors.required" i18n="@@required-field">
            Pflichtfeld
          </div>
        </div>
      </div>

      <div>
        <button id="login_button" data-testid="login_button" type="submit" class="btn btn-primary"
          [disabled]="(contractIDRef.errors && (contractIDRef.dirty || contractIDRef.touched || contractIDRef.untouched)) || (passwordRef.errors && (passwordRef.dirty || passwordRef.touched  || passwordRef.untouched))"
          i18n="@@login">
          Anmelden
        </button>
      </div>

      <div>
        <button id="register_button" data-testid="register_button" [routerLink]="'/registerNewCustomer'"
          class="btn btn-primary" id="registerButton" i18n="@@register">
          Registrieren
        </button>
      </div>
    </form>
  </div>

  <div class="footer">
    <label style="flex: 1">
      © Smart Money GmbH 2023
    </label>
    <lang-switch />
    <div>
      <img src="assets/SimplyTest.png" alt="" style="flex: 1" height="50px" />
    </div>
  </div>
</body>
